// MEDIA QUERY
@media(min-width:320px) and (max-width:480px){

    // NAV
     .main-nav{
         flex-direction: column;
       justify-content: center;
       align-items: center;
         .logo{
             padding-bottom: 1rem;
             width: 40px;
         }

         

         li{
             padding: 4px 0px;
            
             &:last-child{
                 display: none;
             }
         }
       
         
     }

    //  HEADER 
    #main-header{
    height: auto;
    padding-bottom: 4rem;
   
    .header-contents{
        padding: 0 10px;
        padding-top: 20%;
        h2{
            display: none;
        }

        p{
            line-height: 1.3;
        }
    }
}

// SPECIALIZE
#specialize {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 20px;
.specialty-grid{
    grid-template-columns: 1fr;
    margin-top: 3rem;
    
    div{
        border-bottom: 1px solid $secondary-color;
        margin-bottom: 1rem;
        
      i{
          padding-bottom: 0.3rem;
      }

        p{
            padding-bottom: 1.5rem;
        }

        &:last-child{
            border: none;
            margin-bottom: 0;
        }
    }
}

}


#latest-work {
    padding-left: 1rem;
        padding-right: 1rem;
    .grid-latest-work {
        grid-template-columns: 1fr;


        .latest-item{
            width: 350px;
            img{
                height: auto;

            }
        }
    }

    .latest-btn{
        margin-top: 1rem;
    }
}


// HOW I WORK
#method-how{
    padding: 60px 0;

    .method-grid{
        grid-template-columns: 1fr;
        margin-top: 0.1rem;

        div{
            padding: 2rem 1rem;
        }
    }
}

// CONTACT

#contact {
    padding: 10px 0;
    .contact-grid {
       display: flex;
       flex-direction: column-reverse;
       margin-top: 2rem;

       form{
           width: 100%;
       }

    //    icons & INFO SECTION
        .left-contact{
            margin-top: 5rem;
            .contact-info{
                border-bottom: 1px solid $secondary-color;
                flex-direction: column;
                padding: 0 0 40px ;

                &:last-child{
                    padding-bottom: 0;
                }
                
                &:last-child{
                    border: none;
                }

               i{
                   padding-bottom: 1rem;
               }

                h4{
                 font-size: 25px;
                }

            }
        }
    
    }
}

// INNER HEADER
#inner-main-header{
  height: 25vh;
}

// ABOUT-ME-SECTION
#about-me-section{
    padding: 25px 0 50px;

    .about-me-grid{
        grid-template-columns: 1fr;
        grid-gap: 1.5rem;

        img{
            width: 150px;
            display: block;
            margin: 0 auto;
        }
    }
}


// TECHNICAL SKILL
#technical-skills{
    .skills-grid{
        grid-template-columns: repeat(2, 1fr);
       justify-items: center;
    }
}

// INNER CONTACT
#inner-contact-page{
    padding: 20px 0;
    form{
        .form-grid{
            grid-template-columns: 1fr;
        }
    }
}

// MY WORKS
#my-portfolio-works{
  padding: 30px 10px 20px;  
    .portfolio-works-grid{
        grid-template-columns: 1fr;
        grid-gap: 1.5rem;
    

        .portfolio-works-item{
          margin-top: 0;
          width: 300px;
          margin: 0 auto;

        .portfolio-works-text{
            border: none;
        }

        img{
            width: 300px;
        }

                 &:hover .portfolio-works-text{
                     padding-top: 10%;
                 }

        }
    }
 
}


// FOOTER
#main-footer {
    .footer-grid{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        text-align: center;
        grid-gap: 1.5rem;
    }

}



}  // MEDIA QUERY END

// // HEIGHT
// @media(min-height:664px) and (max-height:800px) {
// #main-header {
//         height: 80vh;
//     }
// }


