@import 'variables', 'utility';
// RESET

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

body{
  background: #fff;
  line-height: 1.6;
  font-family: 'Dosis', sans-serif;
  color: #333;
}

// H1-H3

h1, h2, h3{
    text-transform: uppercase;
}


// HEADER
#main-header{
    background: $main-color;
    height: 100vh;

    .header-contents{
        display: grid;
        grid-template-columns: 1fr; 
        padding-top: 4%;
        justify-content: center;
      line-height: 1;
      margin: 0 auto;
      text-align: center;
    
     
    

    .header-info{
       color: #fff;

       h4{
           text-transform: uppercase;
           padding-bottom: 0.5rem;
           font-size: 20px;
       }

     h2{
         font-size: 70px;
         padding-bottom: 0.5rem;
     }

     h3{
         font-size: 30px;
         color: $secondary-color;
         padding-bottom: 0rem;
     }

       

    }

    & img{
        width: 100px;
      padding-bottom: 1rem;
    }
  }
  
}

// INNER HEADER
#inner-main-header{
       background: $main-color;
        height: 20vh;
        opacity: 0.8;     
    }



// NAV

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   

    a{
        color: #fff;
    }
     
  .logo{
     width: 50px;
     padding-top: 30px;
  }

    ul{
        display: flex;
      
        li{
            padding: 5px 15px;

            a{  
                font-size: 18px; 
                padding-bottom: 5px;
                border-bottom: 3px solid transparent;
                transition: all 1s ease-in-out;
                text-transform: uppercase;
              

                &:hover{
                    border-bottom: 3px solid #fff;
                }

                &.current{
                    border-bottom: 3px solid $secondary-color;
                }
            }
        }
    }
}


// SPECIALIZE
#specialize{

    .specialty-grid{
        margin-top: 4rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;

    i {
            color: $secondary-color;
            margin-bottom: 0.5rem;
        }
    
        h3 {
            font-size: 22px;
            margin-bottom: 0.5rem;
        }

        p{
            font-size: 18px;
        }

    }  
}

// LATEST WORK
#latest-work{
    .grid-latest-work{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    
        .latest-item{
        box-shadow: 1px 5px 8px 1px rgba(0, 0, 0, 0.5);
        margin-bottom: 1rem;
        position: relative;
       

            img{
                height: 248px;
            }

            .latest-text{
                position: absolute;
                top: 0;
                left: 0;
                background: $main-color;
                height: 0%;
                width: 100%;
                color: #fff;
                opacity: 0.9;
                transition: all 1s cubic-bezier(0, 1, 0, 1);
              overflow: hidden;
            }

        }

        .latest-item:hover .latest-text{
            height: 100%;
            padding-top: 22%;
        }

    }
}

// HOW I OPERATE
#method-how{
    .method-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 1rem;
        
        div{
            padding: 1.5rem 1rem;
        }

        h3{
            margin: 1rem 0rem 0.5rem;
        }
    }
   
}

// CONTACT
#contact{
    .contact-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        margin-top: 4rem;

        .left-contact{
            .contact-info{
                display: flex;
                margin-bottom: 2rem; 
                i{
                    color: #333;
                    margin-right: 2rem;
                }

                h4{
                    font-size: 34px;
                    text-transform: uppercase;
                }
            }
        }

        form{
        .form-wrapper{
            display: grid;
                grid-template-columns: 1fr;
            
                input {
                    height: 40px;
                    padding: 6px 10px;
                    font-size: 15px;
                    margin-bottom: 1rem;
                    font-size: 19px;
                    border-color: #c4c4c4;
            
                }
            
                ::placeholder {
                    font-size: 14px;
                    color: #969696;
                }
            
                textarea {
                    padding: 6px 10px;
                    height: 160px;
                    margin-bottom: 1rem;
                    border-color: #c4c4c4;
                }
            
                button {
                    border: 2px solid transparent;
                    background: $main-color;
                }
            
                button:hover {
                    background: transparent;
                    border: 2px solid $main-color;
                    color: $main-color;
                }
            
            }
        }
    }
}


// ABOUT ME SECTION
#about-me-section{
    .about-me-grid{
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-top: 1rem;
        align-items: center;

      div{
          padding: 2rem 1rem;
          line-height: 1.9;
          border-left: 3px solid $secondary-color;
        
          
          h3{
              margin-bottom: 0.3rem;
              font-size: 22px;
          }
      }

        img{
            width: 350px;
            border-radius: 50%;
        }
    }
}

// TECHNICAL SKILLS
#technical-skills{
    .skills-grid{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        text-align: start;
        grid-gap: 1rem;
        margin-top: 2rem;

        i{
            color: #fff;
        }
    }
}

// INNER-CONTACT PAGE
#inner-contact-page{
    form{
       .form-grid{
            display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 1rem;
                text-align: center;
            
                .name-text {
                    grid-column: 1/-1;
                }
            
                .message-text {
                    grid-column: 1/-1;
                }

                input{
                    height: 40px;
                    padding: 6px 10px;
                    font-size: 18px;
                    border-color: #c4c4c4;
                }

                textarea{
                    height: 150px;
                        padding: 6px 10px;
                        font-size: 18px;
                        border-color: #c4c4c4;
                        margin-bottom: 1rem;
                }

                ::placeholder{
                    text-transform: uppercase;
                    font-size: 14px;
                }    
       }

       button{ 
          background: $main-color;
          border: 2px solid transparent;
          
          &:hover{
            background: transparent;
                color: $main-color;
                border: 2px solid $main-color;
          }
       }
    }
}


// PORTFOLIO WORKS
#my-portfolio-works{
    background: #ffffff;
    .portfolio-works-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
        height: 100%;
        align-items: center;
   
       
      img{
          height: 100%;
      }

        .portfolio-works-item{
            position: relative;
         margin-top: 2rem;
          transition: all 1s ease-in-out;
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        
        
            .portfolio-button{
                margin-top: 3rem;
            }

            .portfolio-works-text{
                position: absolute;
                top: 0;
                left: 0;
                background: $main-color;
                height: 0;
                width: 100%;
                color: #fff;
                opacity: 0.9;
                overflow: hidden;
                transition: all 1s cubic-bezier(0,1,0,1);
                border: 3px solid #fff;

                .middle-p{
                    text-transform: uppercase;
                }
                
            }

            &:hover .portfolio-works-text{
                height: 100%;
                padding-top: 30%;
                border: 3px solid $secondary-color;
            }
        }
        
       
    }
}


// FOOTER
#main-footer{
    .footer-grid{
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-between;

        .logo{
            width: 50px;
        }

        .social i{
            color: #fff;
            margin-right: 10px;
        }

        p{
            font-size: 18px;
        }
    }
}

@import 'media';